<h3 *ngIf="!edited">Create client</h3>
<h3 *ngIf="edited">Edit client <strong>#{{edited.number}}</strong></h3>
<form clrForm clrLayout="horizontal" [formGroup]="clientForm" (ngSubmit)="onSubmit(clientForm.value)">
    <clr-select-container>
        <label>Type of client</label>
        <select clrSelect formControlName="type">
            <option value="OLD">Present Client</option>
            <option value="NEW">New Client</option>
        </select>
    </clr-select-container>

    <clr-input-container>
        <label>Number of client</label>
        <input clrInput type="number" formControlName="number"/>
    </clr-input-container>

    <clr-input-container>
        <label>Core</label>
        <input clrInput type="number" formControlName="core"/>
    </clr-input-container>

    <clr-input-container>
        <label>Premium</label>
        <input clrInput type="number" formControlName="premium"/>
    </clr-input-container>

    <clr-input-container>
        <label>Total</label>
        <input clrInput type="number" formControlName="total"/>
    </clr-input-container>


    <div *ngIf="edited" class="btn-group btn-primary special">
        <button class="btn btn-primary" (click)="cancelEdit()">CANCEL</button>
        <button [clrLoading]="submitBtnState" [disabled]="!clientForm.valid" type="submit" class="btn btn-danger">EDIT CLIENT</button>
    </div>
    <button *ngIf="!edited" [clrLoading]="submitBtnState" [disabled]="!clientForm.valid" type="submit" class="btn btn-success btn-block">ADD CLIENT</button>

    
</form>

<p *ngIf="edited">Edited user: {{edited.number}}</p>